/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9fsny8keiq] {
    white-space: normal;
    text-align: center;
    word-break: break-all;

}

a[b-9fsny8keiq] {
    color: #0077cc;
    background-color: darkcyan;
}

.btn-primary[b-9fsny8keiq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9fsny8keiq], .nav-pills .show > .nav-link[b-9fsny8keiq] {
    color: #fff;
    background-image: linear-gradient(180deg, #ffffa7 0, #ffffa4 16.67%, #eaffa1 33.33%, #d5f29d 50%, #c1e499 66.67%, #afd896 83.33%, #a0cd93 100%);
    border-color: #1861ac;
}

.border-top[b-9fsny8keiq] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9fsny8keiq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9fsny8keiq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9fsny8keiq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9fsny8keiq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



