@{
    ViewData["Title"] = "Home Page";
}
<div class="container-all">
    <div class="image" >
        <img src="/img/program.svg" width="500" height="500" />
    </div>
    <div class="title">
        <img src="/img/welcome.svg" width="500" height="500" />
    </div>
</div>